<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="it">
  <meta name="keywords" content="AI, Emotion Detector, AI Project, Deep Learning">
  <meta name="author" content="">

  <title>Plant Identification and Diagnosis AI</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/plugins/fontawesome/css/all.css">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

</head>


<body id="top-header">


<!-- LOADER TEMPLATE --><strong></strong>
<div id="page-loader">
    <div class="loader-icon fa fa-spin colored-border"></div>
</div>
<!-- /LOADER TEMPLATE -->

     <!-- NAVBAR
    ================================================= -->
        
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top site-navigation main-nav navbar-togglable">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="{{ url_for('static', filename='images/ai-camp-logo-128x128.png')}}" width="55" height="55" alt="">
              </a>
            <a class="navbar-brand pr-2" href="#">
                <div>
                    <h3 class="text-center">Plant Identification </h3>
                    <h3 class="text-center">and Diagnosis AI</h3>
                </div>
            </a>
            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="true" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span>
            </button>
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <!-- Links -->
                <ul class="navbar-nav row">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#home" id="navbarWelcome" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Links
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarWelcome">
                                 <a class="dropdown-item " target="_blank" href="https://github.com/zikegcwk/aicamp_emotion">
                                    Github Repo
                              </a>
                                <a class="dropdown-item " target="_blank" href="">
                                    Model Slideshow
                                </a>
                        </li>
                        <li class="nav-item ">
                            <a href="#home" class="nav-link">
                                Home
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a href="#meet_the_team" class="nav-link">
                                About the Team
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a href="#our_work" class="nav-link">
                                Work Process
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#challenges" class="nav-link">
                                Challenges
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#improvements" class="nav-link">
                                Improvements
                            </a>
                        </li>
                    </ul>
                <!-- <ul class="ml-lg-auto list-unstyled m-0 nav-btn">
                    <li><a href="https://michaelzhang1.typeform.com/to/LWIfVW1H?typeform-source=www.ai-camp.org" target="_blank" class="btn btn-green btn-circled btn-two">Register for AI Camp</a></li>
                </ul> -->
            </div> <!-- / .navbar-collapse -->
        </div> <!-- / .Container -->
    </nav>
    <a id="home"></a>
 <!-- HERO
    ================================================== -->
    <section class="banner-area py-5" id="banner-4">
       <div class="overlay feature-overlay"></div>
        <!-- Content -->
        <div class="container">
            <div class="row  align-items-center justify-content-center">
                <div class="col-md-12 col-lg-9">
                   <div class="banner-content2 text-center style-2">
                        <!-- Heading -->
                        <h1 class="display-4 mb-4 ">
                            Plant Identification and Diagnosis AI
                        </h1>

                        <!-- Button -->
                            <a class="mb-0 mt-4" id='seefood_button'>
                                <!-- <form id='seefood_form' method=post enctype=multipart/form-data>
                                    <input id="seefood_input_field" name="file" type="file" onchange="this.form.submit();" hidden/>
                                </form> -->
                                <button href="/use-model" target="_blank" class="btn btn-white btn-circled btn-text">
                                    <i class="fas fa-camera pr-2 left" aria-hidden="true"></i> Click to use model
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>

    <section class = "banner-area py-5" id="banner-6">
        <div class="d-flex justify-content-center">
            <div id="carouselExampleIndicators" class="w-50 vh-25 carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="{{ url_for('static', filename='images/tomato_plant (1).jpg') }}" alt="First slide" width = "300" height="500">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{{ url_for('static', filename='images/snake_plant (1).jpg') }}" alt="Second slide" width = "300" height="500">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{{ url_for('static', filename='images/grape_plant2 (1).jpg') }}" alt="Third slide" width="300" height="500">
                </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
  </section>

  <a id="Our Purpose"></a>
  <section class="section">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-md-8 col-lg-6 text-center">
                      <!-- Heading -->
                      <h2 class="section-title">
                          Our Purpose
                      </h2>
                      <!-- Subheading -->
              </div>
          </div> <!-- / .row -->
          <div class="row justify-content-center text-center">
              <p class="small-text">
                  Our main purpose and goal for this AI is to help users take the best steps possible to treat any health issues the plant may be battling. At some point, every beginner and experienced plant parent runs into an issue that they are unable to diagnose, let alone treat. Our AI will identify, diagnose, and provide solutions to various fruit plant concerns. Keeping your fruit plants alive and well has just become much easier.
              </p>
          </div>

<hr>

  <a id="our_work"></a>
  <section class="section">
         <div class="container">
             <div class="row justify-content-center">
                 <div class="col-md-8 col-lg-6 text-center">
                         <!-- Heading -->
                         <h2 class="section-title">
                             Work Process
                         </h2>
                         <!-- Subheading -->
                 </div>
             </div> <!-- / .row -->
             <div class="row justify-content-center text-center">
                 <p class="small-text">
                     Our Computer Vision AI journey throughout these 3 weeks and the process!
                 </p>
             </div>
             <div class="constrain steps">
                <div class="text">
                    <h3>Step 1: Scraping Data</h3>
                    <p>
                        The first step in the process of data accumulation was using SerpAPI and the 
                        Beautiful Soup HTML parser. These services were used to scrape data from the 
                        Google Search Engine and specific websites. Additionally, we used a dataset available 
                        on Kaggle, resulting in a total of about 7,500+ in entirety.

                    </p>
                </div>
                <div class="image right">
                    <img src="{{ url_for('static', filename='images/Screenshot (15).png') }}" alt="Cleaned dataset with pandas">
                </div>
                <div class="text right">
                    <h3>Step 2: Cleaning and Labeling the Data</h3>
                    <p>
                        It was then necessary to label the data through the RoboFlow application
                        and clean accordingly. Since we had a two-step procedure for our product,
                        we ended up at a total of 13 projects/models. This included the main identification 
                        model as well as the various species of fruits. Altogether,
                        there are a total of about 13,500 images cumulatively including the augmentation steps.
                    </p>
                </div>
                <div class="image">
                    <img src="{{ url_for('static', filename='images/Screenshot (17).png') }}"
                        alt="Code used to train the model">
                </div>
                <div class="text">
                    <h3>Step 3: Training the Models</h3>
                    <p>
                        Using the YOLOv5 algorithm and Google Colab, our models were trained. Throughout the training
                        process, input parameters such as batch size or the number of epochs altered. Eventually, we implemented
                        the identification model and all diagnosis models where we then received metric data and respective 
                        PyTorch files.
                    </p>
                </div>
                <div class="image right">
                    <img src="{{ url_for('static', filename='images/Screenshot (21).png') }}"
                        alt="Frontend code for the try-it page">
                </div>
                <div class="text right">
                    <h3>Step 4: Interface and Website Integration</h3>
                    <p>
                        We then developed a website through CoCalc consisting of the necessary HTML, CSS(Some Bootstrap),
                        and Javascript code for the frontend. As the backend, we integrated the Python Flask framework and
                        included our PyTorch model files. Unfortunately, only 10 out of the 14 diagnosis models were finally used
                        due to differences in accuracy. Overall, our model takes an image of a plant, provides an output, takes an
                        image of a diseased leaf of the plant, and provides a diagnosis and solution.

                    </p>
                </div>
                <div class="image">
                    <img src="{{ url_for('static', filename='images/Screenshot (25).png') }}"
                        alt="Code used to train the model">
                </div>
            </div>              
     </section>
     <!-- <section id="projects" class="section-bottom">
         <div class="container">
             <div class="row py-4">
                 <div class="col-lg-7 col-md-12 col-sm-12 ">
                     <div class="single-project">
                         <img src="{{ url_for('static', filename='images1/bg/banner_bg.jpg')}}" alt="" class="img-fluid">
                     </div>
                 </div>
             </div>
         </div>
     </section> -->

<hr>

<a id="challenges"></a>
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 text-center">
                    <!-- Heading -->
                    <h3 class="section-title">
                        Challenges
                    </h3>
                    <!-- Subheading -->
            </div>
        </div> <!-- / .row -->
        <div class="row justify-content-left text-left">
            <p class="small-text">
                <ul type="square" class="small-text">
                    <p>
                        As expected, we ran into a few challenges:
                    </p>
                    <li>The large amount of data (13,000+ images) that our two models require took a lot of time to label. </li>
                    <li>We had around 14 Roboflow Projects that all needed to be trained.</li>
                    <li>Lack of quality data for diagnosis.</li>
                    <li>Diagnosis accuracy is much lower than Identification accuracy.</li>
                </ul>
            </p>
        </div>
    </div>
</section>

<hr>

<a id="improvements"></a>
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 text-center">
                    <!-- Heading -->
                    <h3 class="section-title">
                        Improvements
                    </h3>
                    <!-- Subheading -->
            </div>
        </div> <!-- / .row -->
        <div class="row justify-content-left text-left">
            <p class="small-text">
                <ul type="square" class="small-text">
                    <p>
                        Some improvements we could've made are...
                    </p>
                    <li>Including sufficient amounts of high-quality data for each fruit's disease.</li>
                    <li>Focusing more time on the diagnosis as much as we did for the Idenfication accuracy.</li>
                    <li>Optimizing more time by searching for quality pre-labeled datasets.</li>
                    <p>
                        
        <br>  
                        Additions we could add to our project:
                    </p>
                    <li>Increasing the amount of plant species that we can identify.</li>
                    <li>Adding the majority of the diseases for each plant to diagnose.</li>
                    <li>Adding more unique datasets to increase accuracy.</li>
                    <li>Adding more solution resources for the user.</li>
                </ul>
            </p>
        </div>
    </div>
</section>
        
<hr>

<a id="meet_the_team"></a>
<section class="section section-padding" id="services-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 text-center">
                    <div class="section-heading">
                        <!-- Heading -->
                        <h2 class="section-title section-title-padding mb-2 text-black">
                            Meet the Team
                        </h2>
                    </div>
                </div>
            </div> <!-- / .row -->

            <div class="row justify-content-center text-center">
                <div class="image-container">
                    <div class="image">
                        <div class="card  card-corners h-50px" style="width: 20rem">
                            <img class="card-img-top img-responsive card-corners" src="{{ url_for('static', filename='images/srikar_photo5.jpg') }}" alt="Card image cap" width="300" height="700">
                            <div class="card-body card-corners">
                                <!-- <div class="jumbotron">
                                    <h1 class="display-11">Jinxuan Tang</h1>
                                    <p class="lead">OUR INSTRUCTOR</p>
                                    <hr class="my-4">
                                </div> -->
                              <!-- <p class="card-text"></p> -->
                            </div>
                          </div>
                        <!-- <img class="image__img" src="{{ url_for('static', filename='images/tomato_plant (1).jpg') }}" alt="Bricks"> -->
                        <div class="image__overlay image__overlay--blur card-corners h-50px" style="width: 20rem;">
                            <div class="image__title">Srikar Vemuri</div>
                            <p class="image__description">
                                A WebDev and Backend enthusiast who absolutely loves AI Computer Vision!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="image-container">
                    <div class="image">
                        <div class="card  card-corners h-50px" style="width: 20rem;">
                            <img class="card-img-top img-responsive card-corners" src="{{ url_for('static', filename='images/ben_buzard.jpg') }}" alt="Card image cap" width="300" height="450">
                            <div class="card-body card-corners">
                                <!-- <div class="jumbotron">
                                    <h1 class="display-11">Jinxuan Tang</h1>
                                    <p class="lead">OUR INSTRUCTOR</p>
                                    <hr class="my-4">
                                </div> -->
                              <!-- <p class="card-text"></p> -->
                            </div>
                          </div>
                        <!-- <img class="image__img" src="{{ url_for('static', filename='images/tomato_plant (1).jpg') }}" alt="Bricks"> -->
                        <div class="image__overlay image__overlay--blur card-corners h-50px" style="width: 20rem">
                            <div class="image__title">Ben Buzard</div>
                            <p class="image__description">
                                I like playing the Clarinet and have been programming in various CS fields for years.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="image-container">
                    <div class="image">
                        <div class="card  card-corners h-60px" style="width: 20rem;">
                            <img class="card-img-top img-responsive card-corners" src="{{ url_for('static', filename='images/isabelle.jpg') }}" alt="Card image cap" width="250" height="450">
                            <div class="card-body card-corners">
                                <!-- <div class="jumbotron">
                                    <h1 class="display-11">Jinxuan Tang</h1>
                                    <p class="lead">OUR INSTRUCTOR</p>
                                    <hr class="my-4">
                                </div> -->
                              <!-- <p class="card-text"></p> -->
                            </div>
                          </div>
                        <!-- <img class="image__img" src="{{ url_for('static', filename='images/tomato_plant (1).jpg') }}" alt="Bricks"> -->
                        <div class="image__overlay image__overlay--blur card-corners h-50px" style="width: 20rem">
                            <div class="image__title">Isabelle Sebastian</div>
                            <p class="image__description">
                                Hello! I started coding with Javascript almost two years ago, later learned some Python, and have been interested in ML & programming ever since  :)
                            </p>
                        </div>
                    </div>
                </div>
                <div class="image-container">
                    <div class="image">
                        <div class="card  card-corners h-50px" style="width: 20rem;">
                            <img class="card-img-top img-responsive card-corners" src="{{ url_for('static', filename='images/ashley_ko.jpg') }}" alt="Card image cap" width="300" height="450">
                            <div class="card-body card-corners">
                                <!-- <div class="jumbotron">
                                    <h1 class="display-11">Jinxuan Tang</h1>
                                    <p class="lead">OUR INSTRUCTOR</p>
                                    <hr class="my-4">
                                </div> -->
                              <!-- <p class="card-text"></p> -->
                            </div>
                          </div>
                        <!-- <img class="image__img" src="{{ url_for('static', filename='images/tomato_plant (1).jpg') }}" alt="Bricks"> -->
                        <div class="image__overlay image__overlay--blur card-corners h-50px" style="width: 20rem">
                            <div class="image__title">Ashley Ko</div>
                            <p class="image__description">
                                I enjoy painting during my freetime. I have had an extreme passion for coding & programming ever since I was in seventh grade.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="image-container">
                    <div class="image">
                        <div class="card  card-corners h-50px" style="width: 20rem;">
                            <img class="card-img-top img-responsive card-corners" src="{{ url_for('static', filename='images/justin_erdenebileg.jpg') }}" alt="Card image cap" width="300" height="450">
                            <div class="card-body card-corners">
                                <!-- <div class="jumbotron">
                                    <h1 class="display-11">Jinxuan Tang</h1>
                                    <p class="lead">OUR INSTRUCTOR</p>
                                    <hr class="my-4">
                                </div> -->
                              <!-- <p class="card-text"></p> -->
                            </div>
                          </div>
                        <!-- <img class="image__img" src="{{ url_for('static', filename='images/tomato_plant (1).jpg') }}" alt="Bricks"> -->
                        <div class="image__overlay image__overlay--blur card-corners h-20px" style="width: 20rem">
                            <div class="image__title">Justin Erdenebileg</div>
                            <p class="image__description">
                                I started coding c++ 2 years ago and later moved onto java. Now I like to code complex algorithms and ai.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="image-container">
                    <div class="image">
                        <div class="card  card-corners h-50px" style="width: 20rem;">
                            <img class="card-img-top img-responsive card-corners" src="{{ url_for('static', filename='images/nathan_zhou.jpg') }}" alt="Card image cap" width="300" height="450">
                            <div class="card-body card-corners">
                                <!-- <div class="jumbotron">
                                    <h1 class="display-11">Jinxuan Tang</h1>
                                    <p class="lead">OUR INSTRUCTOR</p>
                                    <hr class="my-4">
                                </div> -->
                              <!-- <p class="card-text"></p> -->
                            </div>
                          </div>
                        <!-- <img class="image__img" src="{{ url_for('static', filename='images/tomato_plant (1).jpg') }}" alt="Bricks"> -->
                        <div class="image__overlay image__overlay--blur card-corners h-50px" style="width: 20rem">
                            <div class="image__title">Nathan Zhou</div>
                            <p class="image__description">
                                I like engineering and reading any book that interests me.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="image-container">
                    <div class="image">
                        <div class="card  card-corners h-50px" style="width: 20rem;">
                            <img class="card-img-top img-responsive card-corners" src="{{ url_for('static', filename='images/JinxuanTang3.jpg') }}" alt="Card image cap" width="300" height="450">
                            <div class="card-body card-corners">
                                <!-- <div class="jumbotron">
                                    <h1 class="display-11">Jinxuan Tang</h1>
                                    <p class="lead">OUR INSTRUCTOR</p>
                                    <hr class="my-4">
                                </div> -->
                              <!-- <p class="card-text"></p> -->
                            </div>
                          </div>
                        <!-- <img class="image__img" src="{{ url_for('static', filename='images/tomato_plant (1).jpg') }}" alt="Bricks"> -->
                        <div class="image__overlay image__overlay--blur card-corners h-50px" style="width: 20rem">
                            <div class="image__title">Jinxuan Tang</div>
                            <p class="image__description">
                                Our Amazing Instructor!
                            </p>
                        </div>
                    </div>
                </div>
          
    </section>

    <footer class="section " id="footer">
            <div class="col-lg-12">

                <p class="footer-copy">
                    &copy; Copyright 2022 All rights reserved.
                </p>
            </div>
        </div>
    </footer>


    <!--  Page Scroll to Top  -->

    <a class="scroll-to-top" href="#top-header">
        <i class="fa fa-angle-double-up"></i>
    </a>


    <!-- 
    Essential Scripts
    =====================================-->
    <!-- Main jQuery -->
    <script src="{{ url_for('static', filename='plugins/jquery/jquery.min.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/theme.js')}}"></script>
    <script>
        // added to get upload with a button working
        document.getElementById('seefood_button').addEventListener('click', openDialog);

        function openDialog() {
            var notDetectedYet = 'Not%20Detected%20Yet'
            window.location = window.location.href.split("#")[0] + "use-model?step=plant&detected_plant={notDetectedYet}&plant_confidence={notDetectedYet}&detected_disease={notDetectedYet}&disease_confidence={notDetectedYet}".replaceAll("{notDetectedYet}", notDetectedYet) + "&plant_filename=&disease_filename="
            // document.getElementById('seefood_input_field').click();
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#spinner").bind("ajaxSend", function() {
                $(this).show();
            }).bind("ajaxStop", function() {
                $(this).hide();
            }).bind("ajaxError", function() {
                $(this).hide();
            });
            // seefood_input_field
            $('#seefood_button').click(function() {

            });
        });
    </script>
  </body>
</html>
